<nz-layout nzTheme="light">
  <nz-header nzTheme="light" nzMode="horizontal" class="header">
    <!-- Logo y Título -->
    <div class="logo-container">
      <div class="logo">
        <img [src]="'assets/images/logochinito.jpg?version=1'" alt="Logo" style="width: 100%;" />
      </div>
      <span class="title">LICORERIA EL CHINITO</span>
    </div>

    <div class="contenedor">
      <!-- Menú de navegación -->
      <div class="nav-container" [ngClass]="{'menu-open': isMenuOpen}">
        <ul nz-menu nzTheme="light" nzMode="horizontal" class="nav-menu">
          <!-- Iteracion con ngFor sobre los enlaces de linksservice -->
          <li class="menu-item"  *ngFor="let link of links" (click)="closeMenuAndNavigate(link.path)"> 
            <a class="menu-link" [routerLink]="link.path">{{ link.label }}</a>
           
          <!-- Submenú -->
          <ul class="sub-menu" *ngIf="link.subMenu">
            <!-- Itera un submenu si el enlace tiene un sub menu  -->
            <li class="sub-menu-item" *ngFor="let subLink of link.subMenu">
              <a [routerLink]="subLink.path">{{ subLink.label }}</a>
            </li>
          </ul>

          </li>
        </ul>
      </div>

      <!-- Íconos de búsqueda y carrito (siempre visibles) -->
      <div class="icons">
        <a href="javascript:void(0)" class="iconSearch" (click)="toggleSearchModal()">
          <i nz-icon nzType="search" nzTheme="outline"></i>
        </a>
        <a href="javascript:void(0)" class="cart-icon">
          <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
        </a>
         <!-- Botón responsive para menú -->
      <button nz-button nzType="primary" class="menu-toggle" (click)="toggleMenu()">
        <span nz-icon nzType="menu" nzTheme="outline" role="button" tabindex="0" class="icon-button"></span>
      </button>
      </div>

     
    </div>

   
  </nz-header>
   <!-- Modal de búsqueda -->
   <div class="search-modal" [ngClass]="{'active': ModalBuscar}">
    <div class="container">
      <div class="search-bar-modal d-flex justify-content-center align-items-center">
        <nz-input-group [nzPrefix]="prefixIcon" [nzSuffix]="suffixIcon">
          <input
            nz-input
            type="text"
            placeholder="¿Qué estás buscando?"
            aria-label="Search"
            [(ngModel)]="search"
          />
        </nz-input-group>
        <ng-template #prefixIcon>
          <!-- Icono de búsqueda al lado izquierdo -->
          <i nz-icon nzType="search" nzTheme="outline"></i>
        </ng-template>
        <ng-template #suffixIcon>
          <!-- Botón de envío -->
          <button nz-button nzType="default" (click)="onSearch()">
            <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
  
</nz-layout>
