.licores-container {
  display: flex;
  padding: 20px;
}


/* Estilo menu lateral */
.side-menu{

 height: 100vh;
 margin-left: 160px;
 width: 138px;
 display: flex;
 flex-direction: column;
}
.nz-submenu{
  display: flex;
  flex-direction: column;
}
/* titulo menulateral */
.side-menu h2{
  text-align:start;
  color: rgb(38, 38, 38);
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}
/* estilos de menu  */
.side-menu .nz-menu { 
  background-color: #fff; /* Fondo blanco para el menú */
   display: flex; 
   flex-direction: column; 
   /* Asegúrate de que los elementos se apilen en columna */
   }
   .menu-columns {
    display: flex;
    flex-direction: column;
    margin: 0 20px ;
    gap: 10px; /* Espacio entre los elementos */
    color: rgb(96, 94, 94);
    font-size: 13px;
  }
  nz-menu-item{
    cursor: pointer;
  }

.licores-content {
  flex: 1;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .side-menu{
     display: none; 
  }
}

@media (max-width: 350px) {
  .side-menu{
    display: none;
  }
}